.editor-panel-wp {
  /* margin-bottom: 10px; */
  padding-bottom: 0.5rem;
  flex-wrap: wrap;
}

.editor-panel__inner {
  padding: 1rem 1.5rem 0.5rem 1.5rem;
  margin-bottom: 10px;
}

.color-picker-wp {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: auto;

  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
}

.color-picker-wp__close {
  width: 100%;
}



.tabs-wrap {
  margin-top: 180px;
}


.tab {
  display: none;
}

.tab.show {
  display: block;
}

.tag-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
}