/* ***************************************** */

.editor-panel {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  font-size: 16px;
  color: #ffffff;
  background-color: rgb(42, 57, 61);

  padding: 1em 1em 1em 1em;

  width: calc(100% - 1em - 1em);
  max-width: calc(100% - 1em - 1em);

  height: 200px;

  position: fixed;
  top: 0;
  left: 0;

  overflow: auto;
}

@media (min-width: 1024px) {
  .editor-panel {
    padding: 2em 4em 2em 4em;
    width: calc(100% - 4em - 4em);
    max-width: calc(100% - 4em - 4em);
  }
}

.editor-panel__inner {
  display: flex;
  flex-wrap: wrap;
}

.editor-panel__inner button {
  margin-top: 0;
}

.editor-panel__inner> :nth-child(n) {
  margin-right: 1em;
  margin-top: 0;
}

.editor-panel__inner> :last-child {
  margin-right: 0;
}

.editor-panel__inner:last-of-type> :nth-child(n) {
  margin-top: 1em;
  margin-bottom: 0;
}

.editor-panel__title {
  font-size: 0.8em;
  margin-top: 0;
  text-align: center;
  opacity: 0.5;
  position: absolute;
  top: 0.2em;
  right: 0.5em;

  user-select: none;
}

.editor-panel__buttons {
  justify-content: flex-end;

}



.editor-panel__buttons>button {
  margin-left: 1em;
}
