.editor-panel-wp {
  padding-bottom: 0;
  /* flex-wrap: wrap; */

}

.editor-panel__inner {
  padding: 1rem 1.5rem 0 1.5rem;
}

.editor-panel__top {
  padding-bottom: 0.5rem;
  display: flex;
  align-items: center;
}

.tag-list-wp {
  padding-top: 0.5rem;
}


.color-picker-wp {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: auto;

  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);

}

.color-picker-wp__close {
  width: 100%;
}


.control-size {
  width: 90px !important;
}


.tabs-wrap {
  margin-top: 160px;
}


.tab {
  display: none;
}

.tab.show {
  display: block;
}

.tag-list {
  display: flex;
  margin: 0;
}


.tag-list__item:last-of-type {
  border-right: 0 none;
}


.child-margin>* {
  margin-right: .5rem !important;
  margin-left: .5rem !important;
}

.box-margin {
  margin-right: .5rem !important;
  margin-left: .5rem !important;

}




.settings-btn {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
}



.flex-block {
  display: flex;
}

/*  scrollbar */

.scrollbar--center .MuiTabs-indicator {
  display: none;
}

.scrollbar--center {
  align-items: center;
}

.scrollbar--center .MuiDivider-vertical,
.scrollbar--center .MuiTabs-scrollButtons {
  align-self: stretch;
}




/* Настройки печати */
@media print {

  header,
  nav,
  .no-print {
    display: none !important;
  }

  .print {
    display: block !important;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
  }
}




.ace_editor {
  width: 100% !important;
  height: 600px !important;
}


.tabs-nav {
  margin-bottom: 40px;
}