body {
  font-family: 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;

  background-color: #fafafa;

  padding-bottom: 100px;
}


button * {
  pointer-events: none;
}


.content {
  padding: 1em 1.5em;
}

pre {
  margin: 0;
}

code {
  display: block;
  overflow: auto;
}

blockquote {
  background-color: rgba(0, 0, 0, 0.04);

  border-left: 3px solid rgba(0, 0, 0, 0.04);

  margin-left: 0;
  padding: .5em 0.5em 0.5em 1em;
}

.content.edit {
  /* background-color: rgba(65, 219, 173, 0.05); */
}

.content:active,
.content:focus {
  outline: none;
}


.button-pallet__color {
  display: block;
  height: 10px;
  height: 1.1em;
  width: 1.1em;
  border-radius: .4em;
  margin-left: 0.2em;

  border: 1px solid lightgray;
  transition: background-color 0.3s ease-in-out;
  pointer-events: none;
}

.meta-title {
  display: none;
}

.clear-list {
  padding-left: 0;
}

.clear-list li {
  list-style-type: none;
}