.sprite {
  background-image: url('images/spritesheet.png');
  background-repeat: no-repeat;
  display: block;
  user-select: none;
  pointer-events: none;
}

.icon-brush,
.sprite-01_brush {
  width: 18px;
  height: 18px;
  background-position: -5px -5px;
}

.icon-edit,
.sprite-02_edit {
  width: 18px;
  height: 18px;
  background-position: -33px -5px;
}

.icon-more,
.sprite-03_more {
  width: 18px;
  height: 18px;
  background-position: -61px -5px;
}

.icon-clear,
.sprite-04_clear {
  width: 18px;
  height: 18px;
  background-position: -89px -5px;
}

.icon-undo,
.sprite-05_undo {
  width: 18px;
  height: 18px;
  background-position: -117px -5px;
}

.icon-redo,
.sprite-06_redo {
  width: 18px;
  height: 18px;
  background-position: -5px -33px;
}

.icon-save,
.sprite-07_save {
  width: 18px;
  height: 18px;
  background-position: -33px -33px;
}

.icon-format,
.sprite-08_format {
  width: 18px;
  height: 18px;
  background-position: -61px -33px;
}

.icon-insert_link,
.sprite-09_insert_link {
  width: 18px;
  height: 18px;
  background-position: -89px -33px;
}

.icon-format_underlined,
.sprite-10_format_underlined {
  width: 18px;
  height: 18px;
  background-position: -117px -33px;
}

.icon-format_clear,
.sprite-11_format_clear {
  width: 18px;
  height: 18px;
  background-position: -5px -61px;
}

.icon-format_paint,
.sprite-12_format_paint {
  width: 18px;
  height: 18px;
  background-position: -33px -61px;
}

.icon-format_list_numbered,
.sprite-13_format_list_numbered {
  width: 18px;
  height: 18px;
  background-position: -61px -61px;
}

.icon-format_list_bulleted,
.sprite-14_format_list_bulleted {
  width: 18px;
  height: 18px;
  background-position: -89px -61px;
}

.icon-format_bold,
.sprite-15_format_bold {
  width: 18px;
  height: 18px;
  background-position: -117px -61px;
}

.icon-format_align_right,
.sprite-16_format_align_right {
  width: 18px;
  height: 18px;
  background-position: -5px -89px;
}

.icon-format_align_left,
.sprite-17_format_align_left {
  width: 18px;
  height: 18px;
  background-position: -33px -89px;
}

.icon-format_align_justify,
.sprite-18_format_align_justify {
  width: 18px;
  height: 18px;
  background-position: -61px -89px;
}

.icon-format_align_center,
.sprite-19_format_align_center {
  width: 18px;
  height: 18px;
  background-position: -89px -89px;
}

.icon-strikethrough,
.sprite-20_strikethrough {
  width: 18px;
  height: 18px;
  background-position: -117px -89px;
}

.icon-format_quote,
.sprite-21_format_quote {
  width: 18px;
  height: 18px;
  background-position: -5px -117px;
}

.icon-line_horizontal,
.sprite-22_line_horizontal {
  width: 18px;
  height: 18px;
  background-position: -33px -117px;
}

.icon-text,
.sprite-23_text {
  width: 18px;
  height: 18px;
  background-position: -61px -117px;
}

.icon-superscript,
.sprite-24_superscript {
  width: 16px;
  height: 16px;
  background-position: -89px -117px;
}

.icon-subscript,
.sprite-25_subscript {
  width: 16px;
  height: 16px;
  background-position: -115px -117px;
}

.icon-title_1,
.sprite-26_title_1 {
  width: 18px;
  height: 18px;
  background-position: -145px -5px;
}


.icon-title_2,
.sprite-27_title_2 {
  width: 18px;
  height: 18px;
  background-position: -145px -33px;
}

.icon-title_3,
.sprite-28_title_3 {
  width: 18px;
  height: 18px;
  background-position: -145px -61px;
}