.sprite {
  background-image: url('images/spritesheet.png');
  background-repeat: no-repeat;
  display: block;
  user-select: none;
  pointer-events: none;
}

.icon-brush {
  width: 18px;
  height: 18px;
  background-position: -5px -5px;
}

.icon-clear {
  width: 18px;
  height: 18px;
  background-position: -33px -5px;
}

.icon-color_lens {
  width: 18px;
  height: 18px;
  background-position: -61px -5px;
}

.icon-color_lens_white {
  width: 24px;
  height: 24px;
  background-position: -89px -5px;
}

.icon-css {
  width: 18px;
  height: 18px;
  background-position: -123px -5px;
}

.icon-edit {
  width: 18px;
  height: 18px;
  background-position: -151px -5px;
}

.icon-format {
  width: 18px;
  height: 18px;
  background-position: -5px -33px;
}

.icon-format_align_center {
  width: 18px;
  height: 18px;
  background-position: -33px -33px;
}

.icon-format_align_justify {
  width: 18px;
  height: 18px;
  background-position: -61px -33px;
}

.icon-format_align_left {
  width: 18px;
  height: 18px;
  background-position: -123px -33px;
}

.icon-format_align_right {
  width: 18px;
  height: 18px;
  background-position: -151px -33px;
}

.icon-format_bold {
  width: 18px;
  height: 18px;
  background-position: -5px -61px;
}

.icon-format_clear {
  width: 18px;
  height: 18px;
  background-position: -33px -61px;
}

.icon-format_list_bulleted {
  width: 18px;
  height: 18px;
  background-position: -61px -61px;
}

.icon-format_list_numbered {
  width: 18px;
  height: 18px;
  background-position: -89px -61px;
}

.icon-format_paint {
  width: 18px;
  height: 18px;
  background-position: -117px -61px;
}

.icon-format_paint_white {
  width: 24px;
  height: 24px;
  background-position: -145px -61px;
}

.icon-format_quote {
  width: 18px;
  height: 18px;
  background-position: -5px -95px;
}

.icon-format_size {
  width: 18px;
  height: 18px;
  background-position: -33px -95px;
}

.icon-format_size_white {
  width: 24px;
  height: 24px;
  background-position: -61px -95px;
}

.icon-format_underlined {
  width: 18px;
  height: 18px;
  background-position: -95px -95px;
}

.icon-html {
  width: 18px;
  height: 18px;
  background-position: -123px -95px;
}

.icon-insert_link {
  width: 18px;
  height: 18px;
  background-position: -151px -95px;
}

.icon-line_height {
  width: 18px;
  height: 18px;
  background-position: -5px -123px;
}

.icon-line_height_white {
  width: 24px;
  height: 24px;
  background-position: -95px -123px;
}

.icon-line_horizontal {
  width: 18px;
  height: 18px;
  background-position: -33px -123px;
}

.icon-more {
  width: 18px;
  height: 18px;
  background-position: -129px -123px;
}

.icon-redo {
  width: 18px;
  height: 18px;
  background-position: -5px -151px;
}

.icon-save {
  width: 18px;
  height: 18px;
  background-position: -33px -151px;
}

.icon-strikethrough {
  width: 18px;
  height: 18px;
  background-position: -61px -151px;
}

.icon-subscript {
  width: 16px;
  height: 16px;
  background-position: -129px -151px;
}

.icon-superscript {
  width: 16px;
  height: 16px;
  background-position: -155px -151px;
}

.icon-text {
  width: 18px;
  height: 18px;
  background-position: -179px -5px;
}

.icon-text-graphical {
  width: 18px;
  height: 18px;
  background-position: -179px -33px;
}

.icon-title_1 {
  width: 18px;
  height: 18px;
  background-position: -179px -61px;
}

.icon-title_2 {
  width: 18px;
  height: 18px;
  background-position: -179px -89px;
}

.icon-title_3 {
  width: 18px;
  height: 18px;
  background-position: -179px -117px;
}

.icon-undo {
  width: 18px;
  height: 18px;
  background-position: -181px -145px;
}